---
layout: project
---

.row-fluid
  .hero-unit
    %h2 Simplified Security and Identity management for Java Applications
    %p
      PicketLink is an umbrella project for security and identity management for Java Applications. It is licensed under a friendly Apache v2 license.

    .text-center
      %a.btn.btn-large.btn-success.hero-button{ :href=>"news/2014/06/23/Release-2/"}Latest Version
      %a.btn.btn-large.hero-button{ :href=>"gettingstarted"}Getting started
      %a.btn.btn-large.hero-button{ :href=>"gethelp"}Get Help
    .text-center
      PicketLink #{site.pom.latest.version} is Out !!

-# First row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 Java EE Application Security
    %p
      Authentication API
    %p
      Authorization and Permission API
    %p
      Session Based Identity
    %p
      Fully Integrated With CDI
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/appsecurity/"}
        Application Security
        %i.icon-circle-arrow-right
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 Identity Management
    %p
      Built-in Identity Stores for Databases and LDAP
    %p
      Supports Java EE and Java SE Platforms
    %p
      Rich and Extensible API
    %p
      Multi-Tenancy
    %p
      Ideal for Cloud and SaaS applications
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/appsecurity/idm/"}
        IDM
        %i.icon-circle-arrow-right
  .span4.well
    %p
      %i.icon-check.icon-3x.pull-left
      %h3 Federation
    %p
      SAML (v2.0 and v1.1)
    %p
      OAuth2
    %p
      XACML v2
    %p
      OpenID
    %p
      WS-Trust based Security Token Server (STS)
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/federation/"}
        Secure SSO
        %i.icon-circle-arrow-right


-# Second row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %p
      %i.icon-sitemap.icon-3x.pull-left
      %h3 Social Login
    %p
      Facebook Connect
    %p
      Twitter Login
    %p
      Google+ Login
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/social/sociallogin/"}
        Secure Social
        %i.icon-circle-arrow-right

  .span4.well
    %p
      %i.icon-sitemap.icon-3x.pull-left
      %h3 Mobile Applications Security
    %p
      Security of mobile applications
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/mobile/mobile/"}
        Secure your mobile apps
        %i.icon-circle-arrow-right

  .span4.well
    %p
      %i.icon-sitemap.icon-3x.pull-left
      %h3 REST Applications Security
    %p
      Security of REST applications
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/appsecurity/rest/"}
        Secure your REST apps
        %i.icon-circle-arrow-right

-# Third row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %p
      -# icon-tasks icon-code icon-cogs icon-wrench
      %i.icon-wrench.icon-3x.pull-left
      %h3 Quickstarts
    %p
      Get Ready and bootstrapped fast using the quickstart examples.
    %p
      Instructions in the quickstarts.
    %p
      Deploy seamlessly in JBoss Enterprise Application Platform 6 server.
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/quickstarts"}
        Quickstarts
        %i.icon-circle-arrow-right
  .span4.well
    %p
      -# icon-umbrella
      %i.icon-plus.icon-3x.pull-left
      %h3 Questions
    %p
      Do you have any questions? Check
      %a{:href => "#{site.base_url}/faq/"} FAQ.
    %p
      Are you ready?
      %a{:href => "#{site.base_url}/gethelp/"} Get Involved.
    %p
      Check out some presentations on PicketLink.
      %a{:href => "#{site.base_url}/presentations/decks/"} Presentations.
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/gethelp/"}
        Get Involved
        %i.icon-circle-arrow-right
  .span4.well
    %p
      -# icon-umbrella
      %i.icon-plus.icon-3x.pull-left
      %h3 Testimonials
    %p
      Still having doubts on PicketLink?
      Visit Testimonials.
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/testimonials/testimonial/"}
        Testimonials
        %i.icon-circle-arrow-right
-# Fourth row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %p
      -# icon-tasks icon-code icon-cogs icon-wrench
      %i.icon-wrench.icon-3x.pull-left
      %h3 KeyCloak Project
    %p
      Do you want an Out Of The Box Solution for Security?.
    %p
      KeyCloak is a new project under the PicketLink Family.
    %p
      KeyCloak is led by Bill Burke and Stian Thorgersen.
    %p.center-icon
      %a.btn.btn-primary{:href => "http://keycloak.jboss.org"}
        KeyCloak Project
        %i.icon-circle-arrow-right
